* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1a1a1a;
    color: #fff;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 400px;
    padding: 20px;
    background-color: #1e1e1e;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

h1,
h2 {
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 0;      
}

li {
    background-color: #333333;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

li:hover {
    background-color: #6200ea;
}

button {
    background-color: #6200ea;
    padding: 10px;
    border-radius: 10px;
    border: none;
    color: #ffff;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #3700b3;
}

.hidden {
    display: none;
}